h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: thin #000099 dashed
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    font-style: italic;
    color: #CC0000;
    margin-left: 0px;
    text-align: right;
    text-decoration: blink;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #FF3399
}

h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #FFFF00
}

h5 {
    font-family: "Courier New", Courier, mono;
    font-size: 24px;
    font-style: italic;
    color: #009999
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: lighter;
    color: #009900
}

p.left {
    text-align: left;
}

p.right {
    text-align: right;
}

p.center {
    text-align: center;
}

.chẳn {
    background-color: rgb(60, 21, 122);
}

.lẻ {
    background-color: #009999;
}

.class,
.row {
    width: 100%;
}

.row::after,
.row::before {
    display: table;
    content: '';
}

.row:after {
    clear: both;
}

.col1 {
    float: left;
    width: 25.9999%;
    margin: 1%;
    padding: 1%;
}

.col2 {
    float: left;
    width: 25.9999%;
    margin: 1%;
    padding: 1%;
}

.col3 {
    float: left;
    width: 25.9999%;
    margin: 1%;
    padding: 1%;
}

#example1 {
    background-image: url(C:\Users\vtt\Desktop\luthanhluan\1045.jpg),
}